version: "3.9"

services:
  api:
    build: .
    container_name: amneziawg-api
    network_mode: "host"   # или подключи к той же сети, что и amnezia-awg
    volumes:
      - ./app:/app         # монтируем локальную папку app внутрь контейнера
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8000:8000"
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - JWT_ALGORITHM=${JWT_ALGORITHM}
      - JWT_ACCESS_TTL=${JWT_ACCESS_TTL}
      - JWT_REFRESH_TTL=${JWT_REFRESH_TTL}
      - JWT_ISSUER=${JWT_ISSUER}
      - JWT_AUDIENCE=${JWT_AUDIENCE}
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - ENDPOINT=${ENDPOINT}
      - WG_CONFIG_FILE=${WG_CONFIG_FILE}
      - DOCKER_CONTAINER=${DOCKER_CONTAINER}
    command: >
      uvicorn main:app
      --host 0.0.0.0
      --port 8000
      --reload
