version: "3.9"
services:
  api:
    build: .
    container_name: amneziawg-api
    network_mode: "host" # или подключи к той же сети, что и amnezia-awg
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # чтобы API мог дергать docker exec
    ports:
      - "8000:8000"
